:root {
  --main-dark-mode-background: #312F31;
  --main-dark-mode-border: #504F51;
  --text-color-dark-mode: #E3E2E3;
  --encrypt-button-dark-mode: #E8FE49;
  --encrypt-button-dark-mode-hover: rgb(253, 215, 0);
  --decrypt-button-dark-mode: #49FEE8;
  --decrypt-button-dark-mode-hover: #009ece;
  --text-encrypt-button-dark-mode: #3C2D19;
}

@font-face {
  font-family: 'Jeju Myeongjo';
  src: url('./font/JejuMyeongjo-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@keyframes mymove {
  0%   {margin-top: 90px; transform: scale(1.4);}
  78%  {margin-top: 90px; transform: scale(1.3);}
  100% {margin-top: 30px; transform: scale(1);}
}

body {
  background-image: url("./img/background.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color-dark-mode);
  padding: 1% 8%;
  font-family: 'Jeju Myeongjo', serif;
  font-weight: 200;
  font-style: normal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, #title-and-magnifying-glass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#clean, #dark-light-mode, #encrypt, #decrypt, #action-buttons {
  display: flex;
  align-items: center;
  color: var(--text-color-dark-mode);
  cursor: pointer;
}

#clean, #encrypt, #decrypt {
  background-color: transparent;
  gap: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--main-dark-mode-border);
}

#clean:hover img {
  transform: rotate(30deg);
}

#clean:hover p {
  transform: scale(1.05);
}

#dark-light-mode {
  gap: 2rem;
}

.mode-icon {
  padding: 10px;
  border-radius: 50px;
  border: 2px solid transparent;
}

.mode-icon:hover {
  border: 2px solid var(--main-dark-mode-border);
}

.active {
  border: 2px solid var(--main-dark-mode-border);
}

h1 {
  font-size: 5em;
  margin: 0;
  font-weight: normal;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 span {
  display: inline-block;
  transform-origin: 50% 50%;
  position: relative;
  top: 50%;
  text-align: center;
}

#magnifying-glass {
  display: block;
  position: absolute;
  right: 0;
  margin-top: 30px;
  animation: mymove 2.6s;
}

main {
  background-color: var(--main-dark-mode-background);
  border: 3px solid var(--main-dark-mode-border);
  border-radius: 50px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

#information-type-letter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#textarea {
  height: 350px;
  resize: none;
  border-radius: 20px;
  padding: 1.5%;
  background-color: rgba(89,88,90,0.6);
  border: none;
  color: var(--text-color-dark-mode);
}

#textarea:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
} 

#action-buttons {
  gap: 0.5rem;
}

#encrypt, #decrypt {
  background-color: var(--encrypt-button-dark-mode);
  border-radius: 20px;
  color: var(--text-encrypt-button-dark-mode);
  font-weight: bold;
  font-size: 16px;
  width: 260px;
  border: none;
  padding: 0 2%;
  justify-content: space-between;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#encrypt {
  background-color: var(--encrypt-button-dark-mode);
}

#decrypt {
  background-color: var(--decrypt-button-dark-mode);
}

#encrypt:hover {
  background-color: var(--encrypt-button-dark-mode-hover);
}

#decrypt:hover {
  background-color: var(--decrypt-button-dark-mode-hover);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

footer p, #information-type-letter p {
  margin: 0;
}

@media (max-width: 576px) {
  body {
    padding: 1% 4%;
  }
  main {
    padding: 8% 4%;
  }
  h1 {
    font-size: 2.45em;
  }
  #action-buttons {
    flex-direction: column;
  }
  #encrypt, #decrypt {
    padding: 0 6%;
    width: 100%;
  }
  #information-type-letter p {
    font-size: 14px;
  }
  #textarea {
    padding: 4%;
  }
  #magnifying-glass {
    margin-top: 52px !important;
    width: 100px;
    animation: mymove 2.5s;
  }
}